# Exclude all node modules initially
node_modules/

# Include specific node module dependencies
!node_modules/mustache/**

# Exclude dev files
.vscode/
src/
*.ts
*.ts.map
test/
*.log
*.env
README.draft.md
icon.png
