import './{{name}}.{{styleExtension}}';

interface {{name}}Props {
    className?: string;
}

export function {{name}}({ className = '' }: Readonly<{{name}}Props>) {
  return (
    <div className={`${className}`}>
      {{name}} component
    </div>
  );
};
